<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>鱼动作/0000</key>
            <dict>
                <key>frame</key>
                <string>{{18,34},{14,14}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{14,14}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>鱼动作/0001</key>
            <dict>
                <key>frame</key>
                <string>{{18,18},{14,14}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{14,14}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>鱼动作/0002</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{14,14}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{14,14}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>鱼动作/0003</key>
            <dict>
                <key>frame</key>
                <string>{{18,34},{14,14}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{14,14}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>鱼动作/0004</key>
            <dict>
                <key>frame</key>
                <string>{{18,18},{14,14}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{14,14}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>鱼动作/0005</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{14,14}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{14,14}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>鱼动作/0006</key>
            <dict>
                <key>frame</key>
                <string>{{18,34},{14,14}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{14,14}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>鱼动作/0007</key>
            <dict>
                <key>frame</key>
                <string>{{18,18},{14,14}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{14,14}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>鱼动作/0008</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{14,14}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{14,14}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>鱼动作/0009</key>
            <dict>
                <key>frame</key>
                <string>{{18,2},{14,14}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{14,14}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>鱼动作/0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{14,14}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{14,14}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>鱼动作/0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,18},{14,14}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{14,14}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>鱼动作/0012</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{14,14}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{14,14}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>鱼动作/0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{14,14}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{14,14}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>鱼动作/0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,18},{14,14}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{14,14}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>鱼动作/0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{14,14}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{14,14}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>鱼动作/0016</key>
            <dict>
                <key>frame</key>
                <string>{{18,2},{14,14}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{14,14}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>鱼动作/0017</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{14,14}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{14,14}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>鱼动作/0018</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{14,14}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{14,14}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>鱼动作/0019</key>
            <dict>
                <key>frame</key>
                <string>{{18,34},{14,14}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{14,14}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish2D.png</string>
            <key>size</key>
            <string>{64,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae8ea1e7585eaca8f8d051b077a98fa4:1/1$</string>
            <key>textureFileName</key>
            <string>fish2D.png</string>
        </dict>
    </dict>
</plist>
