<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>蜥死/0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,545},{159,173}}</string>
                <key>offset</key>
                <string>{-36,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,162},{159,173}}</string>
                <key>sourceSize</key>
                <string>{255,383}</string>
            </dict>
            <key>蜥死/0001</key>
            <dict>
                <key>frame</key>
                <string>{{193,364},{179,163}}</string>
                <key>offset</key>
                <string>{-26,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,194},{179,163}}</string>
                <key>sourceSize</key>
                <string>{255,383}</string>
            </dict>
            <key>蜥死/0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{143,171}}</string>
                <key>offset</key>
                <string>{-4,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,194},{143,171}}</string>
                <key>sourceSize</key>
                <string>{255,383}</string>
            </dict>
            <key>蜥死/0003</key>
            <dict>
                <key>frame</key>
                <string>{{193,529},{155,179}}</string>
                <key>offset</key>
                <string>{-10,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,193},{155,179}}</string>
                <key>sourceSize</key>
                <string>{255,383}</string>
            </dict>
            <key>蜥死/0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{189,179}}</string>
                <key>offset</key>
                <string>{-27,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,193},{189,179}}</string>
                <key>sourceSize</key>
                <string>{255,383}</string>
            </dict>
            <key>蜥死/0005</key>
            <dict>
                <key>frame</key>
                <string>{{193,183},{189,179}}</string>
                <key>offset</key>
                <string>{-27,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,193},{189,179}}</string>
                <key>sourceSize</key>
                <string>{255,383}</string>
            </dict>
            <key>蜥死/0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{189,179}}</string>
                <key>offset</key>
                <string>{-27,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,193},{189,179}}</string>
                <key>sourceSize</key>
                <string>{255,383}</string>
            </dict>
            <key>蜥死/0007</key>
            <dict>
                <key>frame</key>
                <string>{{193,2},{189,179}}</string>
                <key>offset</key>
                <string>{-27,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,193},{189,179}}</string>
                <key>sourceSize</key>
                <string>{255,383}</string>
            </dict>
            <key>蜥死/0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{189,179}}</string>
                <key>offset</key>
                <string>{-27,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,193},{189,179}}</string>
                <key>sourceSize</key>
                <string>{255,383}</string>
            </dict>
            <key>蜥死/0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{189,179}}</string>
                <key>offset</key>
                <string>{-27,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,193},{189,179}}</string>
                <key>sourceSize</key>
                <string>{255,383}</string>
            </dict>
            <key>蜥死/0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{189,179}}</string>
                <key>offset</key>
                <string>{-27,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,193},{189,179}}</string>
                <key>sourceSize</key>
                <string>{255,383}</string>
            </dict>
            <key>蜥死/0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{189,179}}</string>
                <key>offset</key>
                <string>{-27,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,193},{189,179}}</string>
                <key>sourceSize</key>
                <string>{255,383}</string>
            </dict>
            <key>蜥死/0012</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{189,179}}</string>
                <key>offset</key>
                <string>{-27,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,193},{189,179}}</string>
                <key>sourceSize</key>
                <string>{255,383}</string>
            </dict>
            <key>蜥死/0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{189,179}}</string>
                <key>offset</key>
                <string>{-27,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,193},{189,179}}</string>
                <key>sourceSize</key>
                <string>{255,383}</string>
            </dict>
            <key>蜥死/0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{189,179}}</string>
                <key>offset</key>
                <string>{-27,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,193},{189,179}}</string>
                <key>sourceSize</key>
                <string>{255,383}</string>
            </dict>
            <key>蜥死/0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{189,179}}</string>
                <key>offset</key>
                <string>{-27,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,193},{189,179}}</string>
                <key>sourceSize</key>
                <string>{255,383}</string>
            </dict>
            <key>蜥死/0016</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{189,179}}</string>
                <key>offset</key>
                <string>{-27,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,193},{189,179}}</string>
                <key>sourceSize</key>
                <string>{255,383}</string>
            </dict>
            <key>蜥死/0017</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{189,179}}</string>
                <key>offset</key>
                <string>{-27,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,193},{189,179}}</string>
                <key>sourceSize</key>
                <string>{255,383}</string>
            </dict>
            <key>蜥死/0018</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{189,179}}</string>
                <key>offset</key>
                <string>{-27,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,193},{189,179}}</string>
                <key>sourceSize</key>
                <string>{255,383}</string>
            </dict>
            <key>蜥死/0019</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{189,179}}</string>
                <key>offset</key>
                <string>{-27,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,193},{189,179}}</string>
                <key>sourceSize</key>
                <string>{255,383}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lizardDieUnder.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5e9937aa7fe64d04a60f0bd414cdb1b:1/1$</string>
            <key>textureFileName</key>
            <string>lizardDieUnder.png</string>
        </dict>
    </dict>
</plist>
