<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>蜥撞死/0000</key>
            <dict>
                <key>frame</key>
                <string>{{586,676},{159,173}}</string>
                <key>offset</key>
                <string>{-328,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,162},{159,173}}</string>
                <key>sourceSize</key>
                <string>{839,441}</string>
            </dict>
            <key>蜥撞死/0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,893},{167,165}}</string>
                <key>offset</key>
                <string>{-214,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,98},{167,165}}</string>
                <key>sourceSize</key>
                <string>{839,441}</string>
            </dict>
            <key>蜥撞死/0002</key>
            <dict>
                <key>frame</key>
                <string>{{498,837},{217,171}}</string>
                <key>offset</key>
                <string>{-120,118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,17},{217,171}}</string>
                <key>sourceSize</key>
                <string>{839,441}</string>
            </dict>
            <key>蜥撞死/0003</key>
            <dict>
                <key>frame</key>
                <string>{{271,829},{225,205}}</string>
                <key>offset</key>
                <string>{-97,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,13},{225,205}}</string>
                <key>sourceSize</key>
                <string>{839,441}</string>
            </dict>
            <key>蜥撞死/0004</key>
            <dict>
                <key>frame</key>
                <string>{{761,723},{257,273}}</string>
                <key>offset</key>
                <string>{-66,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,6},{257,273}}</string>
                <key>sourceSize</key>
                <string>{839,441}</string>
            </dict>
            <key>蜥撞死/0005</key>
            <dict>
                <key>frame</key>
                <string>{{772,458},{245,263}}</string>
                <key>offset</key>
                <string>{-48,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,59},{245,263}}</string>
                <key>sourceSize</key>
                <string>{839,441}</string>
            </dict>
            <key>蜥撞死/0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{267,213}}</string>
                <key>offset</key>
                <string>{-32,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,128},{267,213}}</string>
                <key>sourceSize</key>
                <string>{839,441}</string>
            </dict>
            <key>蜥撞死/0007</key>
            <dict>
                <key>frame</key>
                <string>{{301,676},{283,151}}</string>
                <key>offset</key>
                <string>{-4,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,186},{283,151}}</string>
                <key>sourceSize</key>
                <string>{839,441}</string>
            </dict>
            <key>蜥撞死/0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,531},{297,145}}</string>
                <key>offset</key>
                <string>{15,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,194},{297,145}}</string>
                <key>sourceSize</key>
                <string>{839,441}</string>
            </dict>
            <key>蜥撞死/0009</key>
            <dict>
                <key>frame</key>
                <string>{{890,155},{301,129}}</string>
                <key>offset</key>
                <string>{30,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{299,219},{301,129}}</string>
                <key>sourceSize</key>
                <string>{839,441}</string>
            </dict>
            <key>蜥撞死/0010</key>
            <dict>
                <key>frame</key>
                <string>{{391,527},{337,147}}</string>
                <key>offset</key>
                <string>{47,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,243},{337,147}}</string>
                <key>sourceSize</key>
                <string>{839,441}</string>
            </dict>
            <key>蜥撞死/0011</key>
            <dict>
                <key>frame</key>
                <string>{{391,320},{379,205}}</string>
                <key>offset</key>
                <string>{69,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,190},{379,205}}</string>
                <key>sourceSize</key>
                <string>{839,441}</string>
            </dict>
            <key>蜥撞死/0012</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{387,213}}</string>
                <key>offset</key>
                <string>{73,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,182},{387,213}}</string>
                <key>sourceSize</key>
                <string>{839,441}</string>
            </dict>
            <key>蜥撞死/0013</key>
            <dict>
                <key>frame</key>
                <string>{{453,155},{435,163}}</string>
                <key>offset</key>
                <string>{96,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,232},{435,163}}</string>
                <key>sourceSize</key>
                <string>{839,441}</string>
            </dict>
            <key>蜥撞死/0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{449,159}}</string>
                <key>offset</key>
                <string>{104,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,236},{449,159}}</string>
                <key>sourceSize</key>
                <string>{839,441}</string>
            </dict>
            <key>蜥撞死/0015</key>
            <dict>
                <key>frame</key>
                <string>{{493,2},{471,151}}</string>
                <key>offset</key>
                <string>{115,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,244},{471,151}}</string>
                <key>sourceSize</key>
                <string>{839,441}</string>
            </dict>
            <key>蜥撞死/0016</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{489,151}}</string>
                <key>offset</key>
                <string>{124,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,244},{489,151}}</string>
                <key>sourceSize</key>
                <string>{839,441}</string>
            </dict>
            <key>蜥撞死/0017</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{489,151}}</string>
                <key>offset</key>
                <string>{124,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,244},{489,151}}</string>
                <key>sourceSize</key>
                <string>{839,441}</string>
            </dict>
            <key>蜥撞死/0018</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{489,151}}</string>
                <key>offset</key>
                <string>{124,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,244},{489,151}}</string>
                <key>sourceSize</key>
                <string>{839,441}</string>
            </dict>
            <key>蜥撞死/0019</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{489,151}}</string>
                <key>offset</key>
                <string>{124,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,244},{489,151}}</string>
                <key>sourceSize</key>
                <string>{839,441}</string>
            </dict>
            <key>蜥撞死/0020</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{489,151}}</string>
                <key>offset</key>
                <string>{124,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,244},{489,151}}</string>
                <key>sourceSize</key>
                <string>{839,441}</string>
            </dict>
            <key>蜥撞死/0021</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{489,151}}</string>
                <key>offset</key>
                <string>{124,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,244},{489,151}}</string>
                <key>sourceSize</key>
                <string>{839,441}</string>
            </dict>
            <key>蜥撞死/0022</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{489,151}}</string>
                <key>offset</key>
                <string>{124,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,244},{489,151}}</string>
                <key>sourceSize</key>
                <string>{839,441}</string>
            </dict>
            <key>蜥撞死/0023</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{489,151}}</string>
                <key>offset</key>
                <string>{124,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,244},{489,151}}</string>
                <key>sourceSize</key>
                <string>{839,441}</string>
            </dict>
            <key>蜥撞死/0024</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{489,151}}</string>
                <key>offset</key>
                <string>{124,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,244},{489,151}}</string>
                <key>sourceSize</key>
                <string>{839,441}</string>
            </dict>
            <key>蜥撞死/0025</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{489,151}}</string>
                <key>offset</key>
                <string>{124,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,244},{489,151}}</string>
                <key>sourceSize</key>
                <string>{839,441}</string>
            </dict>
            <key>蜥撞死/0026</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{489,151}}</string>
                <key>offset</key>
                <string>{124,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,244},{489,151}}</string>
                <key>sourceSize</key>
                <string>{839,441}</string>
            </dict>
            <key>蜥撞死/0027</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{489,151}}</string>
                <key>offset</key>
                <string>{124,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,244},{489,151}}</string>
                <key>sourceSize</key>
                <string>{839,441}</string>
            </dict>
            <key>蜥撞死/0028</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{489,151}}</string>
                <key>offset</key>
                <string>{124,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,244},{489,151}}</string>
                <key>sourceSize</key>
                <string>{839,441}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lizardDieAway.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:571e1612718f394e503f68a31591189a:1/1$</string>
            <key>textureFileName</key>
            <string>lizardDieAway.png</string>
        </dict>
    </dict>
</plist>
