<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>蜥蜴左左/0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{248,116}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,63},{248,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>蜥蜴左左/0001</key>
            <dict>
                <key>frame</key>
                <string>{{252,474},{248,116}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,63},{248,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>蜥蜴左左/0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{248,116}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,63},{248,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>蜥蜴左左/0003</key>
            <dict>
                <key>frame</key>
                <string>{{252,356},{248,116}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,63},{248,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>蜥蜴左左/0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,118}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,62},{248,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>蜥蜴左左/0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{248,116}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,63},{248,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>蜥蜴左左/0006</key>
            <dict>
                <key>frame</key>
                <string>{{252,238},{248,116}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,63},{248,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>蜥蜴左左/0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{248,116}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,63},{248,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>蜥蜴左左/0008</key>
            <dict>
                <key>frame</key>
                <string>{{252,120},{248,116}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,63},{248,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>蜥蜴左左/0009</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{248,116}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,63},{248,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lizardLeft.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1ece56ca9f89de5c6444b9d756e4cf0:1/1$</string>
            <key>textureFileName</key>
            <string>lizardLeft.png</string>
        </dict>
    </dict>
</plist>
