<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>猴子烧死/0000</key>
            <dict>
                <key>frame</key>
                <string>{{182,404},{132,178}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,46},{132,178}}</string>
                <key>sourceSize</key>
                <string>{250,248}</string>
            </dict>
            <key>猴子烧死/0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{132,178}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,46},{132,178}}</string>
                <key>sourceSize</key>
                <string>{250,248}</string>
            </dict>
            <key>猴子烧死/0002</key>
            <dict>
                <key>frame</key>
                <string>{{362,362},{132,178}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,46},{132,178}}</string>
                <key>sourceSize</key>
                <string>{250,248}</string>
            </dict>
            <key>猴子烧死/0003</key>
            <dict>
                <key>frame</key>
                <string>{{182,270},{132,178}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,46},{132,178}}</string>
                <key>sourceSize</key>
                <string>{250,248}</string>
            </dict>
            <key>猴子烧死/0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{132,178}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,46},{132,178}}</string>
                <key>sourceSize</key>
                <string>{250,248}</string>
            </dict>
            <key>猴子烧死/0005</key>
            <dict>
                <key>frame</key>
                <string>{{362,182},{132,178}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,46},{132,178}}</string>
                <key>sourceSize</key>
                <string>{250,248}</string>
            </dict>
            <key>猴子烧死/0006</key>
            <dict>
                <key>frame</key>
                <string>{{182,136},{132,178}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,46},{132,178}}</string>
                <key>sourceSize</key>
                <string>{250,248}</string>
            </dict>
            <key>猴子烧死/0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{132,178}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,46},{132,178}}</string>
                <key>sourceSize</key>
                <string>{250,248}</string>
            </dict>
            <key>猴子烧死/0008</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{132,178}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,46},{132,178}}</string>
                <key>sourceSize</key>
                <string>{250,248}</string>
            </dict>
            <key>猴子烧死/0009</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{132,178}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,46},{132,178}}</string>
                <key>sourceSize</key>
                <string>{250,248}</string>
            </dict>
            <key>猴子烧死/0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,178}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,46},{132,178}}</string>
                <key>sourceSize</key>
                <string>{250,248}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monkeyBurn.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2d248511e1fb2c217d59ed55bb7809d:1/1$</string>
            <key>textureFileName</key>
            <string>monkeyBurn.png</string>
        </dict>
    </dict>
</plist>
