<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>猴子落水/0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,157}}</string>
                <key>offset</key>
                <string>{-8,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,98},{152,157}}</string>
                <key>sourceSize</key>
                <string>{358,271}</string>
            </dict>
            <key>猴子落水/0001</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{152,155}}</string>
                <key>offset</key>
                <string>{-8,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,100},{152,155}}</string>
                <key>sourceSize</key>
                <string>{358,271}</string>
            </dict>
            <key>猴子落水/0002</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{152,151}}</string>
                <key>offset</key>
                <string>{-8,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,104},{152,151}}</string>
                <key>sourceSize</key>
                <string>{358,271}</string>
            </dict>
            <key>猴子落水/0003</key>
            <dict>
                <key>frame</key>
                <string>{{318,155},{152,149}}</string>
                <key>offset</key>
                <string>{-8,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,106},{152,149}}</string>
                <key>sourceSize</key>
                <string>{358,271}</string>
            </dict>
            <key>猴子落水/0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{152,143}}</string>
                <key>offset</key>
                <string>{-8,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,112},{152,143}}</string>
                <key>sourceSize</key>
                <string>{358,271}</string>
            </dict>
            <key>猴子落水/0005</key>
            <dict>
                <key>frame</key>
                <string>{{156,156},{152,141}}</string>
                <key>offset</key>
                <string>{-8,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,114},{152,141}}</string>
                <key>sourceSize</key>
                <string>{358,271}</string>
            </dict>
            <key>猴子落水/0006</key>
            <dict>
                <key>frame</key>
                <string>{{156,299},{152,139}}</string>
                <key>offset</key>
                <string>{-8,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,116},{152,139}}</string>
                <key>sourceSize</key>
                <string>{358,271}</string>
            </dict>
            <key>猴子落水/0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{152,137}}</string>
                <key>offset</key>
                <string>{-8,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,118},{152,137}}</string>
                <key>sourceSize</key>
                <string>{358,271}</string>
            </dict>
            <key>猴子落水/0008</key>
            <dict>
                <key>frame</key>
                <string>{{310,306},{152,133}}</string>
                <key>offset</key>
                <string>{-8,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,122},{152,133}}</string>
                <key>sourceSize</key>
                <string>{358,271}</string>
            </dict>
            <key>猴子落水/0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{152,131}}</string>
                <key>offset</key>
                <string>{-8,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,124},{152,131}}</string>
                <key>sourceSize</key>
                <string>{358,271}</string>
            </dict>
            <key>猴子落水/0010</key>
            <dict>
                <key>frame</key>
                <string>{{156,440},{152,129}}</string>
                <key>offset</key>
                <string>{-8,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,126},{152,129}}</string>
                <key>sourceSize</key>
                <string>{358,271}</string>
            </dict>
            <key>猴子落水/0011</key>
            <dict>
                <key>frame</key>
                <string>{{310,441},{152,125}}</string>
                <key>offset</key>
                <string>{-8,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,130},{152,125}}</string>
                <key>sourceSize</key>
                <string>{358,271}</string>
            </dict>
            <key>猴子落水/0012</key>
            <dict>
                <key>frame</key>
                <string>{{310,441},{152,125}}</string>
                <key>offset</key>
                <string>{-8,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,130},{152,125}}</string>
                <key>sourceSize</key>
                <string>{358,271}</string>
            </dict>
            <key>猴子落水/0013</key>
            <dict>
                <key>frame</key>
                <string>{{310,441},{152,125}}</string>
                <key>offset</key>
                <string>{-8,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,130},{152,125}}</string>
                <key>sourceSize</key>
                <string>{358,271}</string>
            </dict>
            <key>猴子落水/0014</key>
            <dict>
                <key>frame</key>
                <string>{{310,441},{152,125}}</string>
                <key>offset</key>
                <string>{-8,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,130},{152,125}}</string>
                <key>sourceSize</key>
                <string>{358,271}</string>
            </dict>
            <key>猴子落水/0015</key>
            <dict>
                <key>frame</key>
                <string>{{310,441},{152,125}}</string>
                <key>offset</key>
                <string>{-8,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,130},{152,125}}</string>
                <key>sourceSize</key>
                <string>{358,271}</string>
            </dict>
            <key>猴子落水/0016</key>
            <dict>
                <key>frame</key>
                <string>{{310,441},{152,125}}</string>
                <key>offset</key>
                <string>{-8,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,130},{152,125}}</string>
                <key>sourceSize</key>
                <string>{358,271}</string>
            </dict>
            <key>猴子落水/0017</key>
            <dict>
                <key>frame</key>
                <string>{{310,441},{152,125}}</string>
                <key>offset</key>
                <string>{-8,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,130},{152,125}}</string>
                <key>sourceSize</key>
                <string>{358,271}</string>
            </dict>
            <key>猴子落水/0018</key>
            <dict>
                <key>frame</key>
                <string>{{310,441},{152,125}}</string>
                <key>offset</key>
                <string>{-8,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,130},{152,125}}</string>
                <key>sourceSize</key>
                <string>{358,271}</string>
            </dict>
            <key>猴子落水/0019</key>
            <dict>
                <key>frame</key>
                <string>{{310,441},{152,125}}</string>
                <key>offset</key>
                <string>{-8,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,130},{152,125}}</string>
                <key>sourceSize</key>
                <string>{358,271}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monkeyWater.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60915b53990cf8196c0b1a4be652eade:1/1$</string>
            <key>textureFileName</key>
            <string>monkeyWater.png</string>
        </dict>
    </dict>
</plist>
