<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>setBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1200,376}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,376}}</string>
                <key>sourceSize</key>
                <string>{1200,376}</string>
            </dict>
            <key>voiceBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,177},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>voiceOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,127},{100,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,48}}</string>
                <key>sourceSize</key>
                <string>{100,48}</string>
            </dict>
            <key>voiceOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,77},{100,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,48}}</string>
                <key>sourceSize</key>
                <string>{100,48}</string>
            </dict>
            <key>voiceSign.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{116,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,73}}</string>
                <key>sourceSize</key>
                <string>{116,73}</string>
            </dict>
            <key>voiceSlider1.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,77},{175,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,24}}</string>
                <key>sourceSize</key>
                <string>{175,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>setSceneTexture.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28b8afbc33b2f466eef65e1cf2a6a56c:1/1$</string>
            <key>textureFileName</key>
            <string>setSceneTexture.png</string>
        </dict>
    </dict>
</plist>
