<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>龟死/0000</key>
            <dict>
                <key>frame</key>
                <string>{{205,194},{53,48}}</string>
                <key>offset</key>
                <string>{-70,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,68},{53,48}}</string>
                <key>sourceSize</key>
                <string>{195,142}</string>
            </dict>
            <key>龟死/0001</key>
            <dict>
                <key>frame</key>
                <string>{{186,271},{63,66}}</string>
                <key>offset</key>
                <string>{-48,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,39},{63,66}}</string>
                <key>sourceSize</key>
                <string>{195,142}</string>
            </dict>
            <key>龟死/0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,277},{87,88}}</string>
                <key>offset</key>
                <string>{-27,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,5},{87,88}}</string>
                <key>sourceSize</key>
                <string>{195,142}</string>
            </dict>
            <key>龟死/0003</key>
            <dict>
                <key>frame</key>
                <string>{{89,409},{81,78}}</string>
                <key>offset</key>
                <string>{-23,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,4},{81,78}}</string>
                <key>sourceSize</key>
                <string>{195,142}</string>
            </dict>
            <key>龟死/0004</key>
            <dict>
                <key>frame</key>
                <string>{{169,409},{75,78}}</string>
                <key>offset</key>
                <string>{-20,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,21},{75,78}}</string>
                <key>sourceSize</key>
                <string>{195,142}</string>
            </dict>
            <key>龟死/0005</key>
            <dict>
                <key>frame</key>
                <string>{{94,271},{61,90}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,22},{61,90}}</string>
                <key>sourceSize</key>
                <string>{195,142}</string>
            </dict>
            <key>龟死/0006</key>
            <dict>
                <key>frame</key>
                <string>{{92,334},{73,86}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,27},{73,86}}</string>
                <key>sourceSize</key>
                <string>{195,142}</string>
            </dict>
            <key>龟死/0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{77,90}}</string>
                <key>offset</key>
                <string>{22,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,24},{77,90}}</string>
                <key>sourceSize</key>
                <string>{195,142}</string>
            </dict>
            <key>龟死/0008</key>
            <dict>
                <key>frame</key>
                <string>{{111,194},{75,92}}</string>
                <key>offset</key>
                <string>{31,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,23},{75,92}}</string>
                <key>sourceSize</key>
                <string>{195,142}</string>
            </dict>
            <key>龟死/0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{85,84}}</string>
                <key>offset</key>
                <string>{40,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,36},{85,84}}</string>
                <key>sourceSize</key>
                <string>{195,142}</string>
            </dict>
            <key>龟死/0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{107,56}}</string>
                <key>offset</key>
                <string>{41,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,64},{107,56}}</string>
                <key>sourceSize</key>
                <string>{195,142}</string>
            </dict>
            <key>龟死/0011</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{107,50}}</string>
                <key>offset</key>
                <string>{41,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,70},{107,50}}</string>
                <key>sourceSize</key>
                <string>{195,142}</string>
            </dict>
            <key>龟死/0012</key>
            <dict>
                <key>frame</key>
                <string>{{111,102},{107,46}}</string>
                <key>offset</key>
                <string>{41,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,74},{107,46}}</string>
                <key>sourceSize</key>
                <string>{195,142}</string>
            </dict>
            <key>龟死/0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{107,46}}</string>
                <key>offset</key>
                <string>{41,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,74},{107,46}}</string>
                <key>sourceSize</key>
                <string>{195,142}</string>
            </dict>
            <key>龟死/0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{107,44}}</string>
                <key>offset</key>
                <string>{41,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,76},{107,44}}</string>
                <key>sourceSize</key>
                <string>{195,142}</string>
            </dict>
            <key>龟死/0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{107,42}}</string>
                <key>offset</key>
                <string>{41,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,78},{107,42}}</string>
                <key>sourceSize</key>
                <string>{195,142}</string>
            </dict>
            <key>龟死/0016</key>
            <dict>
                <key>frame</key>
                <string>{{111,150},{107,42}}</string>
                <key>offset</key>
                <string>{41,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,79},{107,42}}</string>
                <key>sourceSize</key>
                <string>{195,142}</string>
            </dict>
            <key>龟死/0017</key>
            <dict>
                <key>frame</key>
                <string>{{111,54},{107,46}}</string>
                <key>offset</key>
                <string>{41,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,79},{107,46}}</string>
                <key>sourceSize</key>
                <string>{195,142}</string>
            </dict>
            <key>龟死/0018</key>
            <dict>
                <key>frame</key>
                <string>{{111,54},{107,46}}</string>
                <key>offset</key>
                <string>{41,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,79},{107,46}}</string>
                <key>sourceSize</key>
                <string>{195,142}</string>
            </dict>
            <key>龟死/0019</key>
            <dict>
                <key>frame</key>
                <string>{{111,54},{107,46}}</string>
                <key>offset</key>
                <string>{41,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,79},{107,46}}</string>
                <key>sourceSize</key>
                <string>{195,142}</string>
            </dict>
            <key>龟死/0020</key>
            <dict>
                <key>frame</key>
                <string>{{111,54},{107,46}}</string>
                <key>offset</key>
                <string>{41,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,79},{107,46}}</string>
                <key>sourceSize</key>
                <string>{195,142}</string>
            </dict>
            <key>龟死/0021</key>
            <dict>
                <key>frame</key>
                <string>{{111,54},{107,46}}</string>
                <key>offset</key>
                <string>{41,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,79},{107,46}}</string>
                <key>sourceSize</key>
                <string>{195,142}</string>
            </dict>
            <key>龟死/0022</key>
            <dict>
                <key>frame</key>
                <string>{{111,54},{107,46}}</string>
                <key>offset</key>
                <string>{41,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,79},{107,46}}</string>
                <key>sourceSize</key>
                <string>{195,142}</string>
            </dict>
            <key>龟死/0023</key>
            <dict>
                <key>frame</key>
                <string>{{111,54},{107,46}}</string>
                <key>offset</key>
                <string>{41,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,79},{107,46}}</string>
                <key>sourceSize</key>
                <string>{195,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tortoiseDie.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11e4625e2493cce5548b36e3bb3f4da5:1/1$</string>
            <key>textureFileName</key>
            <string>tortoiseDie.png</string>
        </dict>
    </dict>
</plist>
