<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>龟变形/0000</key>
            <dict>
                <key>frame</key>
                <string>{{246,67},{120,63}}</string>
                <key>offset</key>
                <string>{-33,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,195},{120,63}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0001</key>
            <dict>
                <key>frame</key>
                <string>{{124,67},{120,63}}</string>
                <key>offset</key>
                <string>{-33,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,195},{120,63}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{120,63}}</string>
                <key>offset</key>
                <string>{-33,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,195},{120,63}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0003</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{120,63}}</string>
                <key>offset</key>
                <string>{-33,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,195},{120,63}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0004</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{120,63}}</string>
                <key>offset</key>
                <string>{-33,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,195},{120,63}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0005</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{120,63}}</string>
                <key>offset</key>
                <string>{-33,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,195},{120,63}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,63}}</string>
                <key>offset</key>
                <string>{-33,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,195},{120,63}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0007</key>
            <dict>
                <key>frame</key>
                <string>{{368,130},{120,61}}</string>
                <key>offset</key>
                <string>{-33,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,197},{120,61}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0008</key>
            <dict>
                <key>frame</key>
                <string>{{368,67},{120,61}}</string>
                <key>offset</key>
                <string>{-33,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,197},{120,61}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0009</key>
            <dict>
                <key>frame</key>
                <string>{{246,193},{120,59}}</string>
                <key>offset</key>
                <string>{-33,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,199},{120,59}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0010</key>
            <dict>
                <key>frame</key>
                <string>{{124,193},{120,59}}</string>
                <key>offset</key>
                <string>{-33,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,199},{120,59}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{120,59}}</string>
                <key>offset</key>
                <string>{-33,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,199},{120,59}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0012</key>
            <dict>
                <key>frame</key>
                <string>{{246,132},{120,59}}</string>
                <key>offset</key>
                <string>{-33,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,199},{120,59}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0013</key>
            <dict>
                <key>frame</key>
                <string>{{124,132},{120,59}}</string>
                <key>offset</key>
                <string>{-33,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,199},{120,59}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{120,59}}</string>
                <key>offset</key>
                <string>{-33,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,199},{120,59}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0015</key>
            <dict>
                <key>frame</key>
                <string>{{368,193},{120,57}}</string>
                <key>offset</key>
                <string>{-33,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,201},{120,57}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0016</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{120,55}}</string>
                <key>offset</key>
                <string>{-33,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,203},{120,55}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0017</key>
            <dict>
                <key>frame</key>
                <string>{{368,252},{120,55}}</string>
                <key>offset</key>
                <string>{-33,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,203},{120,55}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0018</key>
            <dict>
                <key>frame</key>
                <string>{{124,254},{120,53}}</string>
                <key>offset</key>
                <string>{-33,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,205},{120,53}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0019</key>
            <dict>
                <key>frame</key>
                <string>{{246,254},{120,51}}</string>
                <key>offset</key>
                <string>{-33,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,207},{120,51}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0020</key>
            <dict>
                <key>frame</key>
                <string>{{368,513},{120,49}}</string>
                <key>offset</key>
                <string>{-33,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,209},{120,49}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0021</key>
            <dict>
                <key>frame</key>
                <string>{{2,515},{120,49}}</string>
                <key>offset</key>
                <string>{-33,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,209},{120,49}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0022</key>
            <dict>
                <key>frame</key>
                <string>{{124,513},{120,49}}</string>
                <key>offset</key>
                <string>{-33,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,209},{120,49}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0023</key>
            <dict>
                <key>frame</key>
                <string>{{246,511},{120,49}}</string>
                <key>offset</key>
                <string>{-33,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,209},{120,49}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0024</key>
            <dict>
                <key>frame</key>
                <string>{{368,462},{120,49}}</string>
                <key>offset</key>
                <string>{-33,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,209},{120,49}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0025</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{120,49}}</string>
                <key>offset</key>
                <string>{-33,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,209},{120,49}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0026</key>
            <dict>
                <key>frame</key>
                <string>{{124,462},{120,49}}</string>
                <key>offset</key>
                <string>{-33,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,209},{120,49}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0027</key>
            <dict>
                <key>frame</key>
                <string>{{246,460},{120,49}}</string>
                <key>offset</key>
                <string>{-33,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,209},{120,49}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0028</key>
            <dict>
                <key>frame</key>
                <string>{{368,411},{120,49}}</string>
                <key>offset</key>
                <string>{-33,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,209},{120,49}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0029</key>
            <dict>
                <key>frame</key>
                <string>{{368,411},{120,49}}</string>
                <key>offset</key>
                <string>{-33,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,209},{120,49}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0030</key>
            <dict>
                <key>frame</key>
                <string>{{368,411},{120,49}}</string>
                <key>offset</key>
                <string>{-33,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,209},{120,49}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0031</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{120,49}}</string>
                <key>offset</key>
                <string>{-33,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,209},{120,49}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0032</key>
            <dict>
                <key>frame</key>
                <string>{{124,411},{120,49}}</string>
                <key>offset</key>
                <string>{-33,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,209},{120,49}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0033</key>
            <dict>
                <key>frame</key>
                <string>{{246,409},{120,49}}</string>
                <key>offset</key>
                <string>{-33,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,209},{120,49}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0034</key>
            <dict>
                <key>frame</key>
                <string>{{368,360},{120,49}}</string>
                <key>offset</key>
                <string>{-33,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,209},{120,49}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0035</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{120,49}}</string>
                <key>offset</key>
                <string>{-33,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,209},{120,49}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0036</key>
            <dict>
                <key>frame</key>
                <string>{{124,360},{120,49}}</string>
                <key>offset</key>
                <string>{-33,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,209},{120,49}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0037</key>
            <dict>
                <key>frame</key>
                <string>{{246,358},{120,49}}</string>
                <key>offset</key>
                <string>{-33,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,209},{120,49}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0038</key>
            <dict>
                <key>frame</key>
                <string>{{368,309},{120,49}}</string>
                <key>offset</key>
                <string>{-33,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,209},{120,49}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0039</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{120,49}}</string>
                <key>offset</key>
                <string>{-33,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,209},{120,49}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0040</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{120,49}}</string>
                <key>offset</key>
                <string>{-33,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,209},{120,49}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0041</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{120,49}}</string>
                <key>offset</key>
                <string>{-33,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,209},{120,49}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0042</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{120,49}}</string>
                <key>offset</key>
                <string>{-33,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,209},{120,49}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0043</key>
            <dict>
                <key>frame</key>
                <string>{{124,309},{120,49}}</string>
                <key>offset</key>
                <string>{-33,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,209},{120,49}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0044</key>
            <dict>
                <key>frame</key>
                <string>{{246,307},{120,49}}</string>
                <key>offset</key>
                <string>{-33,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,208},{120,49}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0045</key>
            <dict>
                <key>frame</key>
                <string>{{246,562},{114,47}}</string>
                <key>offset</key>
                <string>{-37,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,208},{114,47}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0046</key>
            <dict>
                <key>frame</key>
                <string>{{362,564},{112,47}}</string>
                <key>offset</key>
                <string>{-37,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,208},{112,47}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0047</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{112,47}}</string>
                <key>offset</key>
                <string>{-37,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,208},{112,47}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0048</key>
            <dict>
                <key>frame</key>
                <string>{{124,564},{112,47}}</string>
                <key>offset</key>
                <string>{-37,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,208},{112,47}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0049</key>
            <dict>
                <key>frame</key>
                <string>{{238,611},{110,47}}</string>
                <key>offset</key>
                <string>{-36,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,208},{110,47}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0050</key>
            <dict>
                <key>frame</key>
                <string>{{350,613},{108,47}}</string>
                <key>offset</key>
                <string>{-35,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,208},{108,47}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0051</key>
            <dict>
                <key>frame</key>
                <string>{{2,615},{108,47}}</string>
                <key>offset</key>
                <string>{-35,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,208},{108,47}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
            <key>龟变形/0052</key>
            <dict>
                <key>frame</key>
                <string>{{116,613},{108,47}}</string>
                <key>offset</key>
                <string>{-35,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,208},{108,47}}</string>
                <key>sourceSize</key>
                <string>{368,315}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tortoiseChange.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63c875874440c03ce464685d412dce68:1/1$</string>
            <key>textureFileName</key>
            <string>tortoiseChange.png</string>
        </dict>
    </dict>
</plist>
