<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>左走龟/0000</key>
            <dict>
                <key>frame</key>
                <string>{{138,546},{190,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{190,134}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>左走龟/0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{190,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{190,134}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>左走龟/0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{190,134}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{190,134}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>左走龟/0003</key>
            <dict>
                <key>frame</key>
                <string>{{194,410},{190,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{190,134}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>左走龟/0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{190,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{190,134}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>左走龟/0005</key>
            <dict>
                <key>frame</key>
                <string>{{194,274},{190,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{190,134}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>左走龟/0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{190,134}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{190,134}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>左走龟/0007</key>
            <dict>
                <key>frame</key>
                <string>{{194,138},{190,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{190,134}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>左走龟/0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{190,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{190,134}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>左走龟/0009</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{190,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{190,134}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>左走龟/0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,134}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{190,134}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tortoiseLeft.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7877f641c3d9b2538cf5f76dfe05ea44:1/1$</string>
            <key>textureFileName</key>
            <string>tortoiseLeft.png</string>
        </dict>
    </dict>
</plist>
