<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>后走龟/0000</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{186,156}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,27},{186,156}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>后走龟/0001</key>
            <dict>
                <key>frame</key>
                <string>{{190,316},{186,154}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{186,154}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>后走龟/0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{186,154}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,27},{186,154}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>后走龟/0003</key>
            <dict>
                <key>frame</key>
                <string>{{344,626},{186,152}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,28},{186,152}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>后走龟/0004</key>
            <dict>
                <key>frame</key>
                <string>{{156,626},{186,152}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{186,152}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>后走龟/0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{186,152}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,27},{186,152}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>后走龟/0006</key>
            <dict>
                <key>frame</key>
                <string>{{156,780},{186,150}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{186,150}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>后走龟/0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{186,152}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,27},{186,152}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>后走龟/0008</key>
            <dict>
                <key>frame</key>
                <string>{{190,472},{186,152}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{186,152}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>后走龟/0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{186,152}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{186,152}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>后走龟/0010</key>
            <dict>
                <key>frame</key>
                <string>{{190,160},{186,154}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,27},{186,154}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>后走龟/0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{186,154}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{186,154}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>后走龟/0012</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,156}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,27},{186,156}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tortoiseDown.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78cb9991317f86f560b04f1b3a6f6620:1/1$</string>
            <key>textureFileName</key>
            <string>tortoiseDown.png</string>
        </dict>
    </dict>
</plist>
