<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>龟死/0000</key>
            <dict>
                <key>frame</key>
                <string>{{498,368},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,94.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,190}</string>
            </dict>
            <key>龟死/0001</key>
            <dict>
                <key>frame</key>
                <string>{{356,368},{140,68}}</string>
                <key>offset</key>
                <string>{3,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,122},{140,68}}</string>
                <key>sourceSize</key>
                <string>{400,190}</string>
            </dict>
            <key>龟死/0002</key>
            <dict>
                <key>frame</key>
                <string>{{356,186},{180,154}}</string>
                <key>offset</key>
                <string>{93,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,10},{180,154}}</string>
                <key>sourceSize</key>
                <string>{400,190}</string>
            </dict>
            <key>龟死/0003</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{182,154}}</string>
                <key>offset</key>
                <string>{94,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,10},{182,154}}</string>
                <key>sourceSize</key>
                <string>{400,190}</string>
            </dict>
            <key>龟死/0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{234,128}}</string>
                <key>offset</key>
                <string>{68,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,62},{234,128}}</string>
                <key>sourceSize</key>
                <string>{400,190}</string>
            </dict>
            <key>龟死/0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{200,124}}</string>
                <key>offset</key>
                <string>{100,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,66},{200,124}}</string>
                <key>sourceSize</key>
                <string>{400,190}</string>
            </dict>
            <key>龟死/0006</key>
            <dict>
                <key>frame</key>
                <string>{{356,438},{130,44}}</string>
                <key>offset</key>
                <string>{122,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,85},{130,44}}</string>
                <key>sourceSize</key>
                <string>{400,190}</string>
            </dict>
            <key>龟死/0007</key>
            <dict>
                <key>frame</key>
                <string>{{132,558},{68,56}}</string>
                <key>offset</key>
                <string>{154,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,74},{68,56}}</string>
                <key>sourceSize</key>
                <string>{400,190}</string>
            </dict>
            <key>龟死/0008</key>
            <dict>
                <key>frame</key>
                <string>{{234,558},{80,106}}</string>
                <key>offset</key>
                <string>{160,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{320,74},{80,106}}</string>
                <key>sourceSize</key>
                <string>{400,190}</string>
            </dict>
            <key>龟死/0009</key>
            <dict>
                <key>frame</key>
                <string>{{202,558},{30,28}}</string>
                <key>offset</key>
                <string>{183,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{368,115},{30,28}}</string>
                <key>sourceSize</key>
                <string>{400,190}</string>
            </dict>
            <key>龟死/0010</key>
            <dict>
                <key>frame</key>
                <string>{{128,802},{118,104}}</string>
                <key>offset</key>
                <string>{102,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,80},{118,104}}</string>
                <key>sourceSize</key>
                <string>{400,190}</string>
            </dict>
            <key>龟死/0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{352,130}}</string>
                <key>offset</key>
                <string>{-15,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,50},{352,130}}</string>
                <key>sourceSize</key>
                <string>{400,190}</string>
            </dict>
            <key>龟死/0012</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{352,148}}</string>
                <key>offset</key>
                <string>{-15,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,32},{352,148}}</string>
                <key>sourceSize</key>
                <string>{400,190}</string>
            </dict>
            <key>龟死/0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{352,140}}</string>
                <key>offset</key>
                <string>{-15,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,50},{352,140}}</string>
                <key>sourceSize</key>
                <string>{400,190}</string>
            </dict>
            <key>龟死/0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{352,130}}</string>
                <key>offset</key>
                <string>{-15,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,50},{352,130}}</string>
                <key>sourceSize</key>
                <string>{400,190}</string>
            </dict>
            <key>龟死/0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{352,130}}</string>
                <key>offset</key>
                <string>{-15,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,50},{352,130}}</string>
                <key>sourceSize</key>
                <string>{400,190}</string>
            </dict>
            <key>龟死/0016</key>
            <dict>
                <key>frame</key>
                <string>{{356,484},{316,128}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,51},{316,128}}</string>
                <key>sourceSize</key>
                <string>{400,190}</string>
            </dict>
            <key>龟死/0017</key>
            <dict>
                <key>frame</key>
                <string>{{356,484},{316,128}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,51},{316,128}}</string>
                <key>sourceSize</key>
                <string>{400,190}</string>
            </dict>
            <key>龟死/0018</key>
            <dict>
                <key>frame</key>
                <string>{{356,484},{316,128}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,51},{316,128}}</string>
                <key>sourceSize</key>
                <string>{400,190}</string>
            </dict>
            <key>龟死/0019</key>
            <dict>
                <key>frame</key>
                <string>{{356,484},{316,128}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,51},{316,128}}</string>
                <key>sourceSize</key>
                <string>{400,190}</string>
            </dict>
            <key>龟死/0020</key>
            <dict>
                <key>frame</key>
                <string>{{356,484},{316,128}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,51},{316,128}}</string>
                <key>sourceSize</key>
                <string>{400,190}</string>
            </dict>
            <key>龟死/0021</key>
            <dict>
                <key>frame</key>
                <string>{{356,484},{316,128}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,51},{316,128}}</string>
                <key>sourceSize</key>
                <string>{400,190}</string>
            </dict>
            <key>龟死/0022</key>
            <dict>
                <key>frame</key>
                <string>{{356,484},{316,128}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,51},{316,128}}</string>
                <key>sourceSize</key>
                <string>{400,190}</string>
            </dict>
            <key>龟死/0023</key>
            <dict>
                <key>frame</key>
                <string>{{498,368},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,94.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tortoiseDie2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78ddc873581566142d72e8eab8b4af15:1/1$</string>
            <key>textureFileName</key>
            <string>tortoiseDie2.png</string>
        </dict>
    </dict>
</plist>
