<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>11/0000</key>
            <dict>
                <key>frame</key>
                <string>{{2282,1712},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>11/0001</key>
            <dict>
                <key>frame</key>
                <string>{{2256,1142},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>11/0002</key>
            <dict>
                <key>frame</key>
                <string>{{2256,572},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>11/0003</key>
            <dict>
                <key>frame</key>
                <string>{{2256,2},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>11/0004</key>
            <dict>
                <key>frame</key>
                <string>{{1934,1142},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>11/0005</key>
            <dict>
                <key>frame</key>
                <string>{{1934,572},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>11/0006</key>
            <dict>
                <key>frame</key>
                <string>{{1934,2},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>11/0007</key>
            <dict>
                <key>frame</key>
                <string>{{1712,1712},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>11/0008</key>
            <dict>
                <key>frame</key>
                <string>{{1612,1142},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>11/0009</key>
            <dict>
                <key>frame</key>
                <string>{{1612,572},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>11/0010</key>
            <dict>
                <key>frame</key>
                <string>{{1612,2},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>11/0011</key>
            <dict>
                <key>frame</key>
                <string>{{1612,2},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>11/0012</key>
            <dict>
                <key>frame</key>
                <string>{{1612,2},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>11/0013</key>
            <dict>
                <key>frame</key>
                <string>{{1290,1142},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>11/0014</key>
            <dict>
                <key>frame</key>
                <string>{{1290,572},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>11/0015</key>
            <dict>
                <key>frame</key>
                <string>{{1290,2},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>11/0016</key>
            <dict>
                <key>frame</key>
                <string>{{1142,1712},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>11/0017</key>
            <dict>
                <key>frame</key>
                <string>{{968,1142},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>11/0018</key>
            <dict>
                <key>frame</key>
                <string>{{968,572},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>11/0019</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>11/0020</key>
            <dict>
                <key>frame</key>
                <string>{{646,1142},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>11/0021</key>
            <dict>
                <key>frame</key>
                <string>{{646,572},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>11/0022</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>11/0023</key>
            <dict>
                <key>frame</key>
                <string>{{572,1712},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>11/0024</key>
            <dict>
                <key>frame</key>
                <string>{{324,1142},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>11/0025</key>
            <dict>
                <key>frame</key>
                <string>{{324,572},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>11/0026</key>
            <dict>
                <key>frame</key>
                <string>{{324,572},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>11/0027</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>11/0028</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>11/0029</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>11/0030</key>
            <dict>
                <key>frame</key>
                <string>{{2,1712},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>11/0031</key>
            <dict>
                <key>frame</key>
                <string>{{2,1712},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>11/0032</key>
            <dict>
                <key>frame</key>
                <string>{{2,1712},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>11/0033</key>
            <dict>
                <key>frame</key>
                <string>{{2,1142},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>11/0034</key>
            <dict>
                <key>frame</key>
                <string>{{2,1142},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>11/0035</key>
            <dict>
                <key>frame</key>
                <string>{{2,1142},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>11/0036</key>
            <dict>
                <key>frame</key>
                <string>{{2,1142},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>11/0037</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>11/0038</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>11/0039</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>11/0040</key>
            <dict>
                <key>frame</key>
                <string>{{2,1712},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>11/0041</key>
            <dict>
                <key>frame</key>
                <string>{{2,1712},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>11/0042</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pt11.png</string>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ac9e13b59452a6ad4bf33c2f7ffcf8c:1/1$</string>
            <key>textureFileName</key>
            <string>pt11.png</string>
        </dict>
    </dict>
</plist>
