<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4/0000</key>
            <dict>
                <key>frame</key>
                <string>{{1142,1612},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>4/0001</key>
            <dict>
                <key>frame</key>
                <string>{{572,1612},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>4/0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,1612},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>4/0003</key>
            <dict>
                <key>frame</key>
                <string>{{1712,1142},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>4/0004</key>
            <dict>
                <key>frame</key>
                <string>{{1142,1290},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>4/0005</key>
            <dict>
                <key>frame</key>
                <string>{{572,1290},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>4/0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,1290},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>4/0007</key>
            <dict>
                <key>frame</key>
                <string>{{1142,968},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>4/0008</key>
            <dict>
                <key>frame</key>
                <string>{{572,968},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>4/0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>4/0010</key>
            <dict>
                <key>frame</key>
                <string>{{1712,572},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>4/0011</key>
            <dict>
                <key>frame</key>
                <string>{{1142,646},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>4/0012</key>
            <dict>
                <key>frame</key>
                <string>{{572,646},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>4/0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>4/0014</key>
            <dict>
                <key>frame</key>
                <string>{{1142,324},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>4/0015</key>
            <dict>
                <key>frame</key>
                <string>{{572,324},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>4/0016</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>4/0017</key>
            <dict>
                <key>frame</key>
                <string>{{1712,2},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>4/0018</key>
            <dict>
                <key>frame</key>
                <string>{{1142,2},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>4/0019</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>4/0020</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pt4.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:411d168b66d3d3ef4befd6647e54ae99:1/1$</string>
            <key>textureFileName</key>
            <string>pt4.png</string>
        </dict>
    </dict>
</plist>
